.DS_Store

.scrapecache

*.log
log.txt

*.sqlite3
db.sqlite3

package-lock.json
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/keys/*
!/keys/.keep

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/scripts/generate.sh
/scripts/crawl.sh

.gitignore